<% if user_signed_in? %>
  <section class="main_wrapper">
    <div class="sub_header">
      <%= link_to "Home", current_user, class: "right buttons" %>
      <%= link_to "New Post", new_user_post_path(current_user), class: "left buttons" %>
    </div>
    <div class="left_padding top_margin">
<% else %>
  <section id="posts_index_wrapper"> 
  <div>
<% end %> 
  <% @posts.each do |post| %>
    <ul class="listing" align="center">
      <li><h2><%= link_to post.title, post_path(post.id) %></h2></li>
      <li><small> by <%= link_to post.user.full_name, post.user %></small></li>
      <li class="date"><small><em> posted at <%= post.created_at.strftime("%B, %d, %Y") %></em></small></li>
      <% if user_signed_in? %>
        <% if(post.user == current_user) %>
          <p><%= link_to "Edit", edit_user_post_path(post.user, post), :class => "links" %> |
          <%= link_to "Delete", user_post_path(post.user, post), method: :delete,
                              data: {confirm: "Delete the post?"}, :class => "links"%></p>
        <% end %>
      <% end %> 
      <div class ="line"></div>
    </ul>
  <% end %> 
  </div>
</section>