<% if user_signed_in? %>
  <section class="main_wrapper">
    <div class="sub_header">
      <%= link_to "Home", current_user, class: "right buttons" %>
      <%= link_to "New Post", new_user_post_path(current_user), class: "left buttons" %>
    </div>
    <div class="left_padding top_margin">
<% else %>
  <section id="posts_index_wrapper"> 
  <div>
<% end %> 
  <% @posts.each do |post| %>
    <h2><%= post.title %></h2>
    <p><small>posted by<%= link_to post.user.full_name, post.user %></small></p>
    <p class="date"><small><em>created by <%= post.created_at.strftime("%B, %d, %Y") %></em></small></p>
    <% if user_signed_in? %>
      <% if(post.user == current_user) %>
        <%= link_to "Edit", edit_user_post_path(post.user, post), :class => "links" %>
        <%= link_to "Delete", user_post_path(post.user, post), method: :delete,
                              data: {confirm: "Delete the post?"}, :class => "links"%>
      <% end %>
    <% end %> 
  <% end %> 
  </div>
</section>