<% if user_signed_in? %>
  <section class="main_wrapper">
    <div class="sub_header">
      <%= link_to "Home", current_user, class: "right buttons" %>
      <%= link_to "New Post", new_user_post_path(current_user), class: "middle buttons" %>
      <%= link_to "New Category", new_category_path, class: "left buttons" if current_user.admin? %>
    </div>
    <% if flash.blank? %>
      <div class="top_margin">
    <% end %>
<% else %>
  <section id="posts_index_wrapper"> 
  <div>
<% end %>
    <div align="center">
      <h2><%= @post.title %></h2>      
      <div align="center"><%= gravatar_for @post.user, size: 60 %></div>
      <small> by <%= link_to @post.user.full_name, @post.user %></small>
      <p class="date"><small><em><%= @post.created_at.strftime("%B, %d, %Y") %></em></small></p>
      <% if @post.categories.any? %>
        <p><small>Categories:&nbsp;&nbsp;<%= render @post.categories %></small></p>
      <% end %>
      <% if user_signed_in? %>
        <% if(@post.user == current_user || current_user.admin? ) %>
          <p><%= link_to "Edit", edit_user_post_path(@post.user, @post), class: "links" %>|
          <%= link_to "Delete", user_post_path(@post.user, @post), method: :delete,
                              data: {confirm: "Delete the post?"}, class: "links"%></p>
        <% end %>
      <% end %>
    </div>
    <p><%= simple_format(@post.description) %></p>
  </div>
</section>
