<%= form_for(@category) do |f| %>
  <%= render 'shared/errors', obj: @category%>
  <%= f.label :name%><br>
  <%= f.text_field :name %><br><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>