<header>
  <div class="group">
    
    <div id="left_side">
      <%= link_to( image_tag("logo.jpg", height:'60', width: '60', alt: 'logo'), root_path ) %>
    </div>
    
    <div id="right_side">
      <ul>
        <%if user_signed_in? %>
          <li class="buttons"><%= link_to "Settings", edit_user_registration_path %></li>
          <li class="buttons"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li class="buttons"><%= link_to "LOGIN", new_user_session_path %></li>
          <li class="buttons"><%= link_to "Sign Up. It's Free!", new_user_registration_path %></li>
        <% end %>
      </ul>     
    </div>
  </div>
  
  <div id="clear_float"></div>

</header>